<div class="resume_container">
	<!-- RESUME TITLE -->
        <table class="resume_title">
                <tr class="main">
                        <td class="text-center text-nowrap py-0 px-2">Neil Snyder</td>
                </tr>
		<tr class="sub">
			<td class="text-center text-nowrap pt-0 pb-2 px-2">Full Stack Web Developer</td>
		</tr>
        </table>

        <!-- PERSONAL INFO -->
        <table class="resume_info">
                <tr>
                        <td class="text-start text-nowrap">
                                <b>Frontend:</b>
				HTML, CSS, JavaScript, AngularJS, Angular, SVG
                        </td>
                        <td class="text-end text-nowrap">
				<a href="https://github.com/nsnyder30">github.com/nsnyder30</a>
                        </td>
                </tr>
                <tr>
                        <td class="text-start text-nowrap">
                                <b>Backend:</b>
                                Node, PHP, Python, MySQL
			</td>
                        <td class="text-end text-nowrap">
                                neil.r.snyder&#64;gmail.com
                        </td>
                </tr>
                <tr>
                        <td class="text-start text-nowrap">
				<b>Other:</b>
				Git, SVN, Docker, Apache
                        </td>
                        <td class="text-end text-nowrap">
                                1-415-828-2676
                        </td>
                </tr>
        </table>

	<hr class="section-divider mt-1 mb-1">

        <!-- SUMMARY -->
	<div class="section_header">Summary</div>
	<p class="resume_summary">Software engineer with six years of experience driving innovation in manufacturing systems through robust application development and real-time data solutions. Proven success in optimizing workflows, reducing downtime, and enhancing operational visibility with secure, scalable systems. Passionate about taking on challenging software engineering roles that foster continuous learning and push the boundaries of my expertise.</p>

	<hr class="section-divider mb-1">

        <!-- EXPERIENCE -->
	<div class="section_header">Experience</div>
        <ng-container *ngFor="let job of jobs">
		<table class="job_entry">
			<thead>
				<tr class="job_company">
					<th class="px-2 py-1 text-nowrap">{{ job.company.cname }}</th>
					<th class="filler"></th>
					<th class="text-start text-nowrap fw-medium date_range">{{ job.company.cstart }} - {{job.company.cend}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="job-header" *ngFor="let pos of job.positions">
					<td class="text-start text-nowrap fw-bold job_desc ps-3">
						{{ pos.title }}
					</td>
					<td class="filler">
					<td class="text-start text-nowrap date_range">
						{{ pos.pstart }} - {{ pos.pend }}
					</td>
				</tr>
				<tr class="job-description">
					<td colspan="4" class="border-top border-dark-subtle">
						<ul>
							<li *ngFor="let dut of job.duties">
								<span [innerHTML]="dut.desc"></span><span class="fst-italic fw-bold" *ngIf="dut.techs.length">&nbsp;({{ dut.techs.join(', ') }})</span></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-container>

	<hr class="section-divider mb-1">

	<!-- EDUCATION -->
	<div class="section_header">Education</div>
	<table class="education">
		<tbody>
			<tr class="edu_entry" *ngFor="let e of education">
				<td class="edu_desc text-left text-nowrap">
					<b>{{ e.degree }}</b> - {{ e.school }}
				</td>
				<td class="filler">
				<td class="date_range">
					{{ e.estart }} - {{ e.eend }}
				</td>
			</tr>
		</tbody>
	</table>

</div>

